PORT=4000
MAILJET_API_KEY=xxx
MAILJET_API_SECRET=xxx
MAILJET_FROM_EMAIL=noreply@tudominio.com
MAILJET_FROM_NAME=Tu Nombre
META_WHATSAPP_TOKEN=xxx
META_WHATSAPP_PHONE_ID=xxx
JWT_SECRET=bascodelab-0317
ENVIRONMENT=development
LOG_LEVEL=info
RATE_LIMIT_IP=100
RATE_LIMIT_API_KEY=1000
CORS_ORIGIN=*
